.edit-note-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.edit-note-form__input {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.edit-note-form__button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-note-form__button:hover {
  background-color: #3e8e41;
}
